*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: rgb(201, 202, 202);
}

input {
    border: 0;
    background-color: rgb(201, 202, 202);
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgb(219, 219, 219);
    background-color: rgb(201, 202, 202);
}